/****************** VARIABLES ****************/
@standard-font-size: 18px;
@medium-font-size: 24x;
@large-font-size: 26px;
@xlarge-font-size: 34px;

/************** COLORS *************/
@color-white: #fff;
@color-grey: #444;
@color-link: #007bff;
@color-off-white: #f9f1f1;
@color-yellow: #FFD400;
@color-black: #000000;
@color-light-black: #333333;
@color-dark-black: #222222;

/****************** IMPORTS ***************/
@import "../libs/font-awesome/fontawesome.less";
@import "../libs/font-awesome/regular.less";
@import "../libs/font-awesome/solid.less";
@import "../libs/font-awesome/brands.less";

html {
    transition: all 0.5s;
    font-family: 'Roboto', sans-serif;
    font-size: @standard-font-size;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    height: 100vh;
}

body{
    font-size: @standard-font-size;
}

h1 {
    font-size: @xlarge-font-size;
    margin-bottom: 20px;
}

h2 {
    font-size: @large-font-size;
    margin-bottom: 15px;
}

h3 {
    font-size: @medium-font-size;
    margin-top: 35px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: @standard-font-size;
}

.content {
    margin-top: 100px;
}

h3 > a {
    color: @color-grey;

    &:hover {
        color: @color-link;
        cursor: pointer;
    }

    .fa, .fas, .fab {
        font-size: .7em;
    }
}
.portfolio-entry-img {
    width: 500px;
    max-width: 100%;
    height: auto;
}