
<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
    <NavLink class="navbar-brand mr-3" href="" Match="NavLinkMatch.All">
        <strong>Hubert Mijalski</strong>
    </NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link waves-effect waves-light mr-1" href="cv">
                    <i class="fas fa-scroll mr-1"></i> CV
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link waves-effect waves-light mr-1" href="netexperience">
                    <i class="fas fa-server mr-1"></i> .NET Experience
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link waves-effect waves-light mr-1" href="mygames">
                    <i class="fas fa-gamepad mr-1"></i> My Games
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/hubert-mijalski/" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
            </li>
        </ul>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
