@page "/cv"

<h1>Curriculum vitae</h1>

<h2>Please download PDF of my CV using this button</h2>

<a href="~/pdf/CV.pdf" target="_blank" download="HubertMijalskiCV.pdf" class="btn btn-primary mb-3">Download</a>
