@page "/"

<h1>
    Hello, world!
</h1>
<p>
    I am Hubert Mijalski, Fullstack Developer based in Poznań, Poland. Currently, I am on my last year of studying Computer Science at Poznań University of Technology.
    I am available full-time, as after my last year summer internship I have been asked to stay as a full-time employee. 
    I am mainly interested in .NET framework, but I do not limit myself to other opportunities.
</p>
<p>
    I have good knowledge of .NET backend stack and libraries needed, like LINQ, SignalR, EF, NHibernate and Hangfire. 
    Usages of said technologies are showcased in my own apps where I designed databases, job systems and much more from the ground up, 
    as well as in my commercial experience, where I was tasked with improving or re-designing backend systems.
</p>
<p>
    For my front end development in the past I used Bootstrap, JavaScript (with and without jQuery) and LESS. 
    I was working with designers to create pages or elements on pages, with a degree of freedom, 
    to improve the designs when seen in real case scenarios. I have knowledge of Schema markup and have been working on SEO audits to improve positioning in search results.
    I do love utilizing Material Design on my websites.
</p>
<p>
    I am very comfortable in both written and spoken English as I have been working for an international company in an English speaking
    team for over a year. In addition, I have consumed thousands of hours the language through tutoring and various media like podcasts, movies, shows etc.
</p>
<p>
    I am always trying to learn, improve to stay ahead of the game, that’s why with this website 
    I decided to make it a one page experience – something I have never done before – and achieved it using Blazor.
</p>
<p>
    I started my journey with programming at a very young age, when I used to make games in C++ and then after getting my first Android smartphone,
    I started creating games on that platform, with a good degree of success.
    In high school I learnt C#, to make games in Unity and that’s when I found out about .NET framework. 
    At college I got introduced properly to web development I self-thought myself JavaScript and CSS and started working on my websites.
    At the end, I managed to tie in both passions, while creating website with a game of charades and who knows what lies ahead of me.
</p>