@page "/mygames"

<h1>My games</h1>

<h2>Games I created through the years</h2>

<h3><a href="https://www.kongregate.com/games/KYRV19/life-game">Life Game <i class="fas fa-gamepad"></i></a></h3>

<img src="https://media.giphy.com/media/3og0IxBzn8OfEhjsGI/giphy.gif" class="portfolio-entry-img  mb-3 game-img" alt="Gif featuring Life Game playthrough" />

<p>
    Game and a life commentary packed into one and available as a browser game.
    Made in Unity using C#.
</p>

<h3><a href="https://www.kongregate.com/games/KYRV19/orbitz">Orbitz <i class="fas fa-gamepad"></i></a></h3>

<img src="https://i.imgur.com/fOCfSD3.jpg" class="portfolio-entry-img  mb-3 game-img" alt="Orbitz game splash art" />

<p>
    Player is taksed with giving comet proper velocity and rotation to hit the goal.
    Features 10 levels. Made using Phaser a JS library.
    Game I made in 72 hours for a Game Jam – Ludum Dare 38 (April 25th, 2017).
</p>

<h3><a href="https://play.google.com/store/apps/details?id=com.kyrv.speedmaths">Quick Maths <i class="fas fa-gamepad"></i></a></h3>

<img src="https://i.imgur.com/EQeibMC.png" class="portfolio-entry-img  mb-3 game-img" alt="Pizza Catcher splash art" />
<p>
    Train every day your math skills with this app. Try to achieve the result given with numbers provided and four simplest arithmetic operations.
    Features various levels of hardness and random generator of puzzles.
    Made in Java.
</p>

<h3><a href="https://kyrv19.itch.io/pizza-catcher">Pizza Catcher <i class="fas fa-gamepad"></i></a></h3>

<img src="https://i.imgur.com/kQIpuo9.png" class="portfolio-entry-img  mb-3" alt="Pizza Catcher splash art" />
<p>
    In year 2024 Best Pizza Delivery Guy is a title given to only best of the best and they should be selected in a contest of pizza catching.
    Game I made in 72 hours for Ludum Dare 37 (December 11th, 2016).
    Deskop game made in Unity using C#.
</p>