@page "/netexperience"

<h1>My projects</h1>

<h2>This page showcases websites I made</h2>

<h3>Epic Boost</h3>

<img src="https://i.imgur.com/cJfcRiO.png" class="img-fluid mb-3" alt="Screenshot from Epic Boost website" />

<p>
    My ongoing project – website where users place requests for better players to level up their account in a game.
    Page allows users to place orders, checking up on them and features an instant messaging system (made in SignalR).
    Players leveling up accounts have their own CRM system, where they see live queue of orders that they can take.
    Website has integration with outside API – to check on in-game progress.
</p>

<h3>KidSpy3300 <i class="fab fa-github"></i></h3>

<img src="https://i.imgur.com/17QvwZ7.png" class="img-fluid mb-3" alt="Screenshot from KidSpy3300 website" />
<p>
    Project made for Internet Application’s class, where we were tasked with creating e-Class Register.
    System allowed teachers to create tasks, grade them, creating simple reports and enabled direct communication with parents that could check up on performance of their loved ones.
</p>

<h3>DrawingGame</h3>

<img src="https://i.imgur.com/B4n5eov.png" class="img-fluid mb-3" alt="Screenshot from DrawingGame" />
<p>
    While it may be hard to judge from individual screenshot, game allows users to create rooms that their friends may join from their phones.
    Every round people draw stuffs and then others have to guess what is what. 
    Made using SignalR.
</p>